<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity611"></activity>
        <activity android:name=".activity610" />
        <activity android:name=".activity69" />
        <activity android:name=".activity68" />
        <activity android:name=".activity67" />
        <activity android:name=".activity66" />
        <activity android:name=".activity65" />
        <activity android:name=".activity64" />
        <activity android:name=".activity63" />
        <activity android:name=".activity62" />
        <activity android:name=".activity61" />
        <activity android:name=".activity511" />
        <activity android:name=".activity510" />
        <activity android:name=".activity59" />
        <activity android:name=".activity58" />
        <activity android:name=".activity57" />
        <activity android:name=".activity56" />
        <activity android:name=".activity55" />
        <activity android:name=".activity54" />
        <activity android:name=".activity53" />
        <activity android:name=".activity52" />
        <activity android:name=".activity51" />
        <activity android:name=".activity411" />
        <activity android:name=".activity410" />
        <activity android:name=".activity49" />
        <activity android:name=".activity48" />
        <activity android:name=".activity47" />
        <activity android:name=".activity46" />
        <activity android:name=".activity45" />
        <activity android:name=".activity44" />
        <activity android:name=".activity43" />
        <activity android:name=".activity42" />
        <activity android:name=".activity41" />
        <activity android:name=".Second_Main" />
        <activity android:name=".activity311" />
        <activity android:name=".activity310" />
        <activity android:name=".activity39" />
        <activity android:name=".activity38" />
        <activity android:name=".activity37" />
        <activity android:name=".activity36" />
        <activity android:name=".activity35" />
        <activity android:name=".activity34" />
        <activity android:name=".activity33" />
        <activity android:name=".activity32" />
        <activity android:name=".activity31" />
        <activity android:name=".activity211" />
        <activity android:name=".activity210" />
        <activity android:name=".activity29" />
        <activity android:name=".activity28" />
        <activity android:name=".activity27" />
        <activity android:name=".activity26" />
        <activity android:name=".activity25" />
        <activity android:name=".activity24" />
        <activity android:name=".activity23" />
        <activity android:name=".activity22" />
        <activity android:name=".activity21" />
        <activity android:name=".activity111" />
        <activity android:name=".activity110" />
        <activity android:name=".activity19" />
        <activity android:name=".activity18" />
        <activity android:name=".activity17" />
        <activity android:name=".activity16" />
        <activity android:name=".activity15" />
        <activity android:name=".activity14" />
        <activity android:name=".activity13" />
        <activity android:name=".activity12" />
        <activity android:name=".activity11" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>